.anima__-paused {
  animation-play-state: paused;
}
.anima__-pause-on-hover:hover {
  animation-play-state: paused;
}

.anima__-delay1 {
  animation-delay: 1s;
}
.anima__-delay2 {
  animation-delay: 1.1s;
}
.anima__-delay3 {
  animation-delay: 2s;
}



.anima__zoom {
  animation-name: zoom;
	animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.8, 1);
  }
  100% {
    opacity: 1;
  }
}

.anima__slide-in-from-below {
  animation-name: slide-in-from-below;
	animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.23, 0.03, 0.82, 1.5);
  animation-fill-mode: both;
}
@keyframes slide-in-from-below { 
  0% { 
    opacity: 0; 
    transform: translateY(36px); 
  }
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  } 
}


.anima__slide-in-from-right {
  animation-name: slide-in-from-right;
	animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.39, 0.4, 0.54, 1.05);
  animation-fill-mode: both;
  animation-delay: .1s;
}
@keyframes slide-in-from-right { 
  0% { 
    opacity: 0; 
    transform: translateX(36px); 
  } 
  100% { 
    opacity: 1; 
    transform: translateX(0); 
  } 
}
.anima__slide-out-to-right {
  .anima__slide-in-from-right();
	animation-direction: reverse;
}

.anima__slide-in-from-left {
  animation-name: slide-in-from-left;
	animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.39, 0.4, 0.54, 1.05);
  animation-fill-mode: both;
  animation-delay: .1s;
}
@keyframes slide-in-from-left { 
  0% { 
    opacity: 0; 
    transform: translateX(-36px); 
  } 
  100% { 
    opacity: 1; 
    transform: translateX(0); 
  } 
}
.anima__slide-out-to-left {
  .anima__slide-in-from-left();
	animation-direction: reverse;
}

.anima__reveal-through-flip__container {
  perspective: 500px;
  perspective-origin: 50% 50%;
}
.anima__reveal-through-flip-down {
  animation-name: reveal-through-flip-down;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.39, 0.4, 0.54, 1.05);animation-fill-mode: both;
  animation-delay: .2s;
}
@keyframes reveal-through-flip-down {
  0% {
    opacity: 0;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  100% {
    opacity: 1;
    transform-origin: top;
    transform: rotateX(0deg);
  }
}
.anima__reveal-through-flip-up {
  animation-name: reveal-through-flip-up;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.39, 0.4, 0.54, 1.05);animation-fill-mode: both;
  animation-delay: .2s;
}
@keyframes reveal-through-flip-up {
  0% {
    opacity: 0;
    transform-origin: bottom;
    transform: rotateX(90deg) translate3d(0,5em,0);
  }
  100% {
    opacity: 1;
    transform-origin: bottom;
    transform: rotateX(0deg) translate3d(0,0,0);
  }
}

.anima__scalex-out_scalex-in {
  animation-name: scalex-out, scalex-in;
  animation-duration: 0.2s, 0.3s;
  animation-delay: 0s, 0.3s;
  animation-iteration-count: 1, 1;
  animation-direction: normal, normal;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: cubic-bezier(.43,.15,.63,.93), cubic-bezier(.43,.15,.63,.93);
  animation-play-state: running, running;
}
.anima__scalex-in {
  animation-name: scalex-in;
	animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.43,.15,.63,.93);
  animation-fill-mode: forwards;
}
@keyframes scalex-in {
  0% {
    transform: scaleX(0);
    transform-origin: left
  }
  to {
    transform: scaleX(1);
    transform-origin: left
  }
}
.anima__scalex-out {
  animation-name: scalex-out;
	animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.43,.15,.63,.93);
  animation-fill-mode: forwards;
}
@keyframes scalex-out {
  0% {
    transform: scaleX(1);
    transform-origin: right
  }
  to {
    transform: scaleX(0);
    transform-origin: right
  }
}


.anima__pendulum {
	animation-name: pendulum;
	animation-duration: 6s;
  animation-iteration-count: 18;
}
@keyframes pendulum {
	0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(.28,.28,.36,1);
  }
  25% {
    transform: rotate(-10deg);
    animation-timing-function: cubic-bezier(.36,.0,.72,.72);
  }
  50% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(.28,.28,.36,1);
  }
  75% {
    transform: rotate(10deg);
    animation-timing-function: cubic-bezier(.36,.0,.72,.72);
  }
  100% {
    transform: rotate(0);
  }
}

.anima__flicker {
	animation-name: flicker;
	animation-duration: 5s;
	animation-iteration-count: 20;
}
@keyframes flicker {
	0% {
		opacity:1
	}
	7% {
		opacity:.95
	}
	10% {
		opacity:1
	}
	12% {
		opacity:.9
	}
	14% {
		opacity:.95
	}
	17% {
		opacity:1
	}
	20% {
		opacity:.85
	}
	24% {
		opacity:1
	}
	28% {
		opacity:1
	}
	30% {
		opacity:.9
	}
	32% {
		opacity:.8
	}
	38% {
		opacity:.95
	}
	40% {
		opacity:.95
	}
	43% {
		opacity:1
	}
	50% {
		opacity:1
	}
	58% {
		opacity:1
	}
	60% {
		opacity:.95
	}
	62% {
		opacity:1
	}
	78% {
		opacity:1
	}
	80% {
		opacity:.8
	}
	82% {
		opacity:.95
	}
	87% {
		opacity:1
	}
	90% {
		opacity:.95
	}
	94% {
		opacity:1
	}
	100% {
		opacity:1
	}
}

@media (prefers-reduced-motion: reduce) {
  /* adjust motion of 'animation' properties */
  .anima__flicker,
  .anima__zoom,
  .anima__slide-in-from-below,
  .anima__slide-in-from-right,
  .anima__slide-out-to-right,
  .anima__slide-in-from-left,
  .anima__slide-out-to-left,
  .anima__reveal-through-flip-down,
  .anima__reveal-through-flip-up,
  .anima__scalex-out_scalex-in,
  .anima__scalex-in,
  .anima__scalex-out,
  .anima__pendulum,
  .anima {
    animation: none !important;
  }
}
