@import './variab.less';
@import './transi.less';
@import './anima.less';

html {
  /* scale font-size with viewport width */
  font-size: calc(.7em + .5vw);
  background-color: @color_bg;
  /* https://www.svgbackgrounds.com/#large-triangles */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
button { font-size: inherit }
input { font-size: inherit }
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.15em;
}
h4,h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}
body {
  font-family: "Heebo","Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}
*, :after, :before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Quando",serif;
  font-weight: 400;
  color: @color_text_header;
  margin-top: 3em;
  margin-bottom: 2em;
}
h1 {
  margin-top: .5em;
}
h4,h5,h6 {
  font-weight: 400;
}
h5,h6 {
  font-style: italic;
}
h6 {
  font-size: 1em;
  margin-bottom: .2em;
}
blockquote {
  border-left: 3px solid  fadeout(@color_border_accent-1, 60%);
  padding-left: 1em;
  margin-left: 1em;
  font-style: italic;
}
pre {
  padding: .2em 1em;
  margin: .2em 1em;
  background-color: fadeout(@color_bg_accent-2, 60%);
  border: 2px solid  fadeout(@color_border_accent-2, 60%);
  border-radius: .5em;
}

button,
a.button {
  margin: 1em .5em 1em 1em;
  background-color: rgba(85, 26,139, 0.1);
  border: 1px solid rgb(9,54,183);
  border-radius: 9px;
  box-shadow: 0 0 5px #d9f0ff13;
  padding: 2px 5px;
  position: relative;
  bottom: 5px;
}
button:disabled {
  cursor: default;
  opacity: 0.3;
  box-shadow: none;
}
a {
  color: @color_text_action;
  text-decoration: none;
}
a.active--exact {
  cursor: default;
  font-weight: 800;
  text-decoration: none;
}
a:not(.active--exact):not(.inactive):hover, a:hover * {
  color: @color_text_action_hover;
}

img {
  max-width: 100%;
}
caption {
  font-style: italic;
  color: #0f5ca0d0;
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.para {
  margin-bottom: 1em;
}

.img-fluid {
  height: auto;
}
.boxed {
  padding: .2em 1em;
  background-color: fadeout(@color_bg_accent-1, 80%);
  border: 2px solid fadeout(@color_border_accent-1, 80%);
  border-radius: .5em;
}

.nowrap {
  white-space: nowrap
}

.bgcolor {
  background-color: @color_bg;
}
.bgcolor-opaque {
  background-color: fadeout(@color_bg, 10%);
}
/* "clearfix" */
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* fancy hyperlinks
 * except if the link refers to the current page: `active--exact`
 * or has custom class `nodeco` (no decoration)
 */
a:not(.active--exact):not(.nodeco) {
  transition: color, background-color 1s cubic-bezier(.43,.15,.63,.93);
  position: relative;
  text-decoration: none;
  overflow: hidden;
  margin: -0.1em -0.2em;
  padding: 0.1em 0.2em;
  border-radius:3px;
}
a:not(.active--exact):not(.nodeco)::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  transition: background-color .4s cubic-bezier(.43,.15,.63,.93) 0.5s;
  background-color: fadeout(@color_text_action_hover,70%);
}
a:not(.active--exact):not(.nodeco):hover {
  color: @color_text_action_hover;
  background-color: fadeout(@color_text_highlight,50%);
}
a:not(.active--exact):not(.nodeco):hover::after {
  background-color: @color_text_action_hover;
  .anima__scalex-out_scalex-in();
}

/* scrollbar */
@scroll-width:13px;
::-webkit-scrollbar {
  background-color: darken(@color_bg,20%);
  width: @scroll-width;
  height: @scroll-width;
  border-radius: @scroll-width;
}
::-webkit-scrollbar-track {
  border-radius: @scroll-width;
}
::-webkit-scrollbar-thumb {
  background-color:@color-primary-0;
  border-radius: @scroll-width;
  border: 1px solid @color-primary-0;
}



/* main layout dimensions */
.layout {
  min-width: @layout-min-width;
  max-width: @layout-max-width;
  margin: 0 auto;
  padding-left: @layout-padding;
  padding-right: @layout-padding;
}
.expand {
  max-width: @layout-max-width;
  margin-left: -@layout-padding;
  margin-right: -@layout-padding;
}
@media screen and (min-width: @layout-max-width) {
  html {
    font-size: 19px;
  }
}

/* print settings */
@media print {
  html {
    font-size: 15px;
    background-color: #fff;
    background-image: none;
  }
  nav, .noprint, button {
    display:none !important;
  }
  body,
  input,
  textarea,
  select,
  button,
  .normal {
    color: #333 !important;
    text-shadow: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #584500 !important;
  }
  a,
  .action {
    color: #4a80fd !important;
  }
}
