@import './variab.less';
@import './transi.less';
@import './anima.less';

html {
  /* scale font-size with viewport width */
  font-size: calc(.7em + .5vw);
}
body {
  overflow-y: scroll;
  transition: color 1s ease-in-out, background-color 1s ease-in-out;
  color: var(--color_text_body);
  background-color: var(--color_bg);
  background-attachment: fixed;
  background-image: url("/images/flower-of-life-pattern.svg");
  counter-reset: labeled-note-counter;
}
button {
  font-size: inherit
}
input {
  font-size: inherit
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4,h5 {
  font-size: 1.3em;
}
h6 {
  font-size: 1.2em;
}
body,
input,
textarea,
select,
button {
  font-family: var(--font_family_body),"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.6;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color_text_body);
}
*, :after, :before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font_family_header), serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color_text_header);
  margin-top: 3em;
  margin-bottom: 2em;
}
h1 {
  margin-top: .5em;
}

h3,h4,h5,h6 {
  font-variant: small-caps;
  margin-top: 2em;
  margin-bottom: .2em;
}
main {
  overflow: hidden;
}
blockquote {
  padding-left: 1em;
  margin-left: 1em;
  font-style: italic;
  position: relative;
  width: fit-content;
  white-space: pre-wrap;
  opacity: .9;
}
blockquote::before {
  content: "“";
  position: absolute;
  top: -.3em;
  left: -.1em;
  line-height: normal;
  font-size: 3em;
  opacity: .3;
  color: var(--color_text_action);
}

code, 
pre.code {
  font-family: var(--font_family_mono), monospace;
}
pre.code {
  width: fit-content;
  overflow: auto;
  line-height: initial;
  white-space: pre-wrap;
}
ul {
  list-style: none;
  padding-inline-start: 2em;
}
li {
  line-height: 1em;
  margin: .5em 0;
}
button:not(.nodeco),
a.button {
  cursor: pointer;
  margin: 1em .5em 1em 1em;
  background-color: var(--color_text_highlight);
  border: 1px solid var(--color_border_accent-1);
  border-radius: 9px;
  box-shadow: 1px 2px 9px var(--color_border_accent-1);
  padding: 2px 5px;
  position: relative;
  bottom: 5px;
  outline: 0;
}
button:disabled {
  cursor: default;
  background-color: var(--color_bg_accent-1);
  opacity: 0.3;
  box-shadow: none;
}
button:focus {
  background-color: var(--color_bg_accent-1);
  box-shadow: 0px 1px 2px var(--color_border_accent-1);
}
input,
textarea,
select {
  font-family: var(--font_family_mono), monospace;
  outline: 0;
  background-color: var(--color_bg_accent-2);
  border: 1px solid var(--color_formfield_border);
  border-radius: 5px;
  line-height: 1.3em;
  max-width: 15em;
  width: 90%;
  padding: 0 5px;
  margin: .3em 1em .3em 3px;
  vertical-align: middle;
}
input[type=time],
input[type=date],
input[type=number],
input[type=color],
input.compact {
  max-width: 9.6em;
  width: 40%;
}
textarea {
  max-width: 30em;
  vertical-align: top;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--color_border_accent-1);
  box-shadow: 0 0 3px 0px var(--color_border_accent-1);
  background-color: var(--color_text_highlight);
  outline: none;
}

.action,
a {
  cursor: pointer;
  color: var(--color_text_action);
  text-decoration: none;
}
a.active {
  font-style: italic;
  color: var(--color_text_action_active);
}
a.active--exact {
  cursor: default;
  font-weight: 800;
  text-decoration: none;
}
a:not(.active--exact):not(.inactive):hover, a:hover * {
  color: var(--color_text_action_hover);
}
a:not(.active--exact):not(.nodeco) {
  position: relative;
}
a:not(.active--exact):not(.nodeco)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: var(--color_text_action_underline);
}
.append {
  position:relative;
  left: 2em;
  vertical-align: baseline;
}

img {
  max-width: 100%;
}
caption {
  font-style: italic;
  color: #0f5ca0d0;
  display: inline-block;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}

.para {
  margin-bottom: 1em;
}
.margin-top-small {
  margin-top: .7em;
}
.img-fluid {
  height: auto;
}
.boxed {
  padding: .2em 1em;
  background-color: var(--color_bg_accent-1);
  border: 2px solid var(--color_border_accent-1);
  border-radius: .5em;
}
.poetic {
  font-family: var(--font_family_cursive), cursive;
  font-size: 130%;
  line-height: normal;
  text-align: center;
  white-space: pre;
}
.note {
  font-style: italic;
  font-size: 0.9em;
  opacity: 0.8;
}

.center {
  text-align: center;
}
.nowrap {
  white-space: nowrap
}
.emph {
  font-family: var(--font_family_emph), serif;
}
.cursive {
  font-family: var(--font_family_cursive), cursive;
  font-size: 130%;
  line-height: normal;
  code {
    font-size: 76.923%;
  }
}
.mono {
  font-family: var(--font_family_mono), monospace;
}
.deemph {
  font-size: 90%;
  color: var(--color_text_deemph);
  opacity: 0.9;
}

.cards-header-container {
  margin-bottom: 1.5em;
  box-shadow: 0 2px 7px -4px var(--color_border_accent-2);
}
.cards-header {
  display: inline-block;
  margin-bottom: 0;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  place-content: space-between;
}

.img-postcat {
  float: right;
  width: 20%;
  margin-left: 1em;
}

.post-type,
.post-thread,
.post-category,
.post-series {
  font-family: var(--font_family_emph);
  font-style: initial;
}

.margin-note {
  float: right;
  width: 40%;
  max-width: 200px;
  font-style: italic;
  margin: .3em 0 1em 1em;
  font-size: 90%;
  color: var(--color_text_deemph);
  opacity: 0.8;
  line-height: normal;
  overflow-wrap: break-word;
}
.labeled-note-number {
  counter-increment: labeled-note-counter;
}
.labeled-note-number:after,
.labeled-note:before {
  position: relative;
  vertical-align: baseline;
  top: -.5em;
  color: var(--color_text_action);
  font-family: var(--font_family_mono);
  font-style: normal;
}

.labeled-note-number:after {
  content: counter(labeled-note-counter);
  font-size: 80%;

}
.labeled-note:before {
  content: counter(labeled-note-counter) ".";
  font-size: 80%;
}

.spacer {
  vertical-align: text-top;
  line-height: 1.7em;
}
.spacious {
  margin-top: 3em;
  margin-bottom: 2em;
}
.spaced_chars {
  letter-spacing: .7em;
}

.bgcolor {
  background-color: var(--color_bg);
}
.bgcolor-opaque {
  background-color: var(--color_bg_opaque);
}

.hidden {
  visibility: hidden;
}

::selection {
  background: var(--color_text_highlight); /* WebKit/Blink Browsers */
}

/* "clearfix" */
.group:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .cards-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .margin-note {
    width: 30%;
  }
  ul {
    padding-inline-start: 1em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* fancy hyperlinks
  * except if the link refers to the current page: `active--exact`
  * or has custom class `nodeco` (no decoration)
  */
  a:not(.active--exact):not(.nodeco) {
    transition: color .5s cubic-bezier(.43,.15,.63,.93), 
                background-color 1s cubic-bezier(.43,.15,.63,.93);
    margin: -0.1em -0.12em;
    padding: 0.1em 0.12em;
    border-radius:3px;
  }
  a:not(.active--exact):not(.nodeco)::after {
    transition: background-color .4s cubic-bezier(.43,.15,.63,.93) 0.5s;
  }
  a:not(.active--exact):not(.nodeco):hover {
    color: var(--color_text_action_hover);
    background-color: var(--color_text_highlight);
  }
  a:not(.active--exact):not(.nodeco):hover::after {
    background-color: var(--color_text_action_underline_hover);
    .anima__scalex-out_scalex-in();
  }
}

/* scrollbar */
@scroll-width:13px;
::-webkit-scrollbar {
  background-color: var(--color_scrollbar);
  width: @scroll-width;
  height: @scroll-width;
  border-radius: @scroll-width;
}
::-webkit-scrollbar-track {
  border-radius: @scroll-width;
}
::-webkit-scrollbar-thumb {
  background-color:var(--color_scrollbar-thumb);
  border-radius: @scroll-width;
  border: 1px solid var(--color_scrollbar-thumb);
}



/* main layout dimensions */
body {
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}
.app-container {
  min-width: var(--layout-min-width);
  max-width: var(--layout-max-width);
  margin: 0 auto;
}
.expand {
  max-width: calc(var(--layout-max-width) + 2 * var(--layout-padding));
  margin-left: calc(-1 * var(--layout-padding));
  margin-right: calc(-1 * var(--layout-padding));
}
@media screen and (min-width: 1100px) {
  html {
    font-size: 19px;
  }
}

.fillviewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.heightviewport {
  height: 100vh;
  overflow: hidden;
}

/* print settings */
@media print {
  html {
    font-size: 15px;
    background-color: #fff;
    background-image: none;
  }
  nav, .noprint, button {
    display:none !important;
  }
  body,
  input,
  textarea,
  select,
  button,
  .normal {
    color: #333 !important;
    text-shadow: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #584500 !important;
  }
  a,
  .action {
    color: #4a80fd !important;
  }
}
