body {
  font-family: "Heebo","Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}
*, :after, :before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Quando",serif;
  font-weight: 400;
}
h4,h5,h6 {
  font-weight: 800;
}
blockquote {
  border-left: 3px solid  rgba(216, 199, 204, 0.6);
  padding-left: 1em;
  margin-left: 1em;
}
pre {
  padding: .2em 1em;
  margin: .2em 1em;
  background-color: rgb(199, 209, 216);
  border: 5px solid  rgba(216, 199, 204, 0.6);
  border-radius: .5em;
}
a {
  color: rgb(9,54,183)
}
button,
a.button {
  margin: 1em .5em 1em 1em;
  background-color: rgba(85, 26,139, 0.1);
  border: 1px solid rgb(9,54,183);
  border-radius: 9px;
  box-shadow: 0 0 5px #d9f0ff13;
  padding: 2px 5px;
  position: relative;
  bottom: 5px;
}
button:disabled {
  cursor: default;
  opacity: 0.3;
  box-shadow: none;
}

a {
  color: rgb(85, 26,139);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  height: 80px;
}
.nav__link {
  margin-left: 20px;
}

.para {
  margin-bottom: 1em;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.boxed {
  padding: .2em 1em;
  border: 3px solid rgba(216, 199, 204, 0.6) ;
  border-radius: .5em;
  background-color: rgba(199, 209, 216, 0.27);
}


@media print {
  nav, .noprint, button {
    display:none !important;
  }
  html {
    background-color: #fff;
    background-image: none;
  }
  body,
  input,
  textarea,
  select,
  button,
  .normal {
    color: #333 !important;
    text-shadow: none !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #584500 !important;
  }
  a,
  .action {
    color: #4a80fd !important;
  }
}
