
/* css color variables
 * PARCHMENT/EARTH TONES 
 * http://paletton.com/#uid=50J0u0klolz3pD+cksqudeUQy80
 */
:root {
  --base-color-primary-0: 172,123, 57;	/* Main Primary color */
  --base-color-primary-1: 255,244,228;
  --base-color-primary-2: 226,190,139;
  --base-color-primary-3: 119, 71,  7;
  --base-color-primary-4:  64, 37,  0;

  --base-color-secondary-1-0: 172,144, 57;	/* Main Secondary color (1) */
  --base-color-secondary-1-1: 255,248,228;
  --base-color-secondary-1-2: 226,205,139;
  --base-color-secondary-1-3: 119, 91,  7;
  --base-color-secondary-1-4:  64, 48,  0;

  --base-color-secondary-2-0: 172, 91, 57;	/* Main Secondary color (2) */
  --base-color-secondary-2-1: 255,236,228;
  --base-color-secondary-2-2: 226,165,139;
  --base-color-secondary-2-3: 119, 40,  7;
  --base-color-secondary-2-4:  64, 19,  0;
}
