@import './colorscheme.less';

/* layout dimensions */
:root {
  --layout-min-width: 300px;
  --layout-max-width: 1100px;
  --layout-padding: 0.5rem;
}

/* font styles */
:root {
  --font_family_body: 'Lora';
  --font_family_header: 'Racing Sans One';
  --font_family_emph: 'Eagle Lake';
  --font_family_cursive: 'Kaushan Script';
  --font_family_mono: 'Share Tech Mono';
}

/* light color scheme (default) */
:root,
:root[data-color-mode="light"] {
  --base-color_bg_accent-1: var(--base-color-secondary-1-1);
  --color_bg: rgb(var(--base-color-primary-1));
  --color_bg_opaque: rgba(var(--base-color-primary-1), 0.9);
  --color_bg_accent-1: rgba(var(--base-color-secondary-1-1), 0.8);
  --color_bg_accent-2: rgba(var(--base-color-secondary-2-1), 0.6);
  --color_border_accent-1: rgba(var(--base-color-secondary-1-3), 0.8);
  --color_border_accent-2: rgba(var(--base-color-secondary-2-3), 0.6);
  --color_text_body: rgb(var(--base-color-primary-4));
  --color_text_header: rgb(var(--base-color-secondary-2-4));
  --color_text_action: rgb(var(--base-color-primary-3));
  --color_text_action_hover: rgb(var(--base-color-secondary-1-3));
  --color_text_action_selected: rgb(var(--base-color-primary-0));
  --color_text_action_active: rgb(var(--base-color-secondary-1-4));
  --color_text_action_underline: rgba(var(--base-color-secondary-1-3), 0.3);
  --color_text_action_underline_hover: rgb(var(--base-color-secondary-1-3));
  --color_text_highlight: rgba(var(--base-color-secondary-2-2), 0.5);
  --color_text_deemph: rgb(var(--base-color-primary-4).0.6);
  --color_formfield_border: rgba(var(--base-color-primary-3), 0.5);
  --color_icon: rgba(var(--base-color-primary-3), 0.8);
  --color_scrollbar: rgb(var(--base-color-primary-2));
  --color_scrollbar-thumb: rgb(var(--base-color-primary-0));
}

/* dark color scheme */
:root[data-color-mode="dark"] {
  --base-color_bg_accent-1: var(--base-color-secondary-1-4);
  --color_bg: rgb(var(--base-color-primary-4));
  --color_bg_opaque: rgba(var(--base-color-primary-4), 0.9);
  --color_bg_accent-1: rgba(var(--base-color-secondary-1-4), 0.8);
  --color_bg_accent-2: rgba(var(--base-color-secondary-2-4), 0.6);
  --color_border_accent-1: rgba(var(--base-color-secondary-1-2), 0.8);
  --color_border_accent-2: rgba(var(--base-color-secondary-2-2), 0.6);
  --color_text_body: rgb(var(--base-color-primary-1));
  --color_text_header: rgb(var(--base-color-secondary-2-1));
  --color_text_action: rgb(var(--base-color-primary-2));
  --color_text_action_hover: rgb(var(--base-color-secondary-1-2));
  --color_text_action_selected: rgb(var(--base-color-primary-0));
  --color_text_action_active: rgb(var(--base-color-secondary-1-0));
  --color_text_action_underline: rgba(var(--base-color-secondary-1-2), 0.3);
  --color_text_action_underline_hover: rgb(var(--base-color-secondary-1-2));
  --color_text_highlight: rgba(var(--base-color-secondary-2-2),0.3);
  --color_text_deemph: rgb(var(--base-color-primary-1).0.6);
  --color_formfield_border: rgba(var(--base-color-primary-2), 0.5);
  --color_icon: rgba(var(--base-color-primary-1), 0.8);
  --color_scrollbar:  rgb(var(--base-color-primary-0));
  --color_scrollbar-thumb:  rgb(var(--base-color-primary-2));
  img {
    filter: brightness(.8) contrast(1.2);
  }
}
